.aboutCard {
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(254, 254, 254, 0.4));

    .squaresGrid {
        &::before {
            padding-bottom: 0;
        }

        .externalCard:nth-child(odd) {
            margin-left: 0;
        }

        .externalCard:nth-child(even) {
            margin-right: 0;
        }
    }
}
