.aboutCard {
    .squaresGrid {
        &::before {
            padding-bottom: 0;
        }

        .externalCard:nth-child(odd) {
            margin-left: 0;
        }

        .externalCard:nth-child(even) {
            margin-right: 0;
        }
    }
}
