.experienceContainer {
    display: inline-flex;
    width: 100%;

    &.right {
        justify-content: right;

        .imgContainer {
            order: 1;
        }

        .experienceCard {
            width: 66.6666666666%;
            order: 2;
        }
    }

    .imgContainer {
        width: 33.3333333333%;
        img {
            display: block;
            height: auto;
            width: 100%;
        }
    }

    .experienceCard {
        width: 66.6666666666%;
    }
}
