.experienceContainer {
    display: inline-flex;
    width: 100%;

    &.right {
        justify-content: right;

        .imgContainer {
            order: 1;
        }

        .imgContainer a {
            left: 0;
        }

        .experienceCard {
            order: 2;
        }
    }

    .imgContainer {
        width: 33.3333333333%;

        * {
            display: block;
            width: 60%;
        }

        a {
            position: relative;
            left: 40%;
            transition: 0.3s;

            @media screen and (max-width: 1200px) {
                left: 10%;
                width: 90%;
            }
        }

        img {
            -webkit-filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
            filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
            height: auto;
            position: relative;
            right: 0;
            width: 100%;
        }

        a:hover img {
            -webkit-filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.4));
            filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.4));
            transition: 0.3s;
        }

        @media screen and (max-width: 920px) {
            display: none;
        }
    }

    .experienceCard {
        a:hover h3 {
            color: #6f6af8;
        }

        width: 66.6666666666%;

        @media screen and (max-width: 920px) {
            width: 90%;
        }
    }

    .textContainer {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
    }

    .experienceContent {
        opacity: 0.9;

        p:first-child {
            padding-right: 24px;
        }
    }
}
