.navBar {
    padding: 6px 63px;
    position: fixed;
    margin: auto;
    width: 100vw;
    z-index: 2;

    div {
        -webkit-backdrop-filter: blur(2px) saturate(1);
        backdrop-filter: blur(12px) saturate(2);
        background: radial-gradient(rgba(255, 255, 255, 0.3), rgba(254, 254, 254, 0.3));
        box-shadow:
            inset 6px 6px 12px rgba(255, 255, 255, 0.5),
            inset 0 24px 56px rgba(255, 255, 255, 0.5),
            inset 0 -2px 6px rgba(0, 0, 0, 0.5),
            0 24px 48px rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        border-width: 0.5px;
        margin: auto;
        max-width: 1200px;
        padding: 0 64px;
        position: relative;
        text-align: center;
    }

    ul {
        color: rgba(0, 0, 0, 0.8);
        display: inline-flex;
        font-size: 24px;
        font-weight: 700;
        justify-content: space-between;
        text-decoration: none;
        width: 100%;

        li {
            display: inline-block;
            overflow: visible;
            padding: 12px 0;
            position: relative;
            width: 132px;
        }

        .selectorImage {
            display: none;
            position: absolute;
        }

        li.active {
            color: #6f6af8;
        }

        li.active .selectorImage {
            animation: slideInFromRight 0.5s ease forwards;
            display: block;
            height: 53px;
            left: -45%;
            top: 0;
            width: auto;
            z-index: -1;
        }

        li.active .selectorImage.toNext {
            animation: slideOutToRight 0.5s ease forwards;
        }

        li.active .selectorImage.fromPrevious {
            animation: slideInfromLeft 0.5s ease forwards;
        }

        li.active .selectorImage.fromNext {
            animation: slideOutToLeft 0.5s ease forwards;
        }

        li.active .selectorImage.toPrevious {
            animation: slideInFromRight 0.5s ease forwards;
        }

        li:hover {
            color: #6f6af8;
        }
    }
}

@keyframes slideOutToRight {
    from {
        left: -45%;
    }
    to {
        left: 50%;
    }
}

@keyframes slideOutToLeft {
    from {
        left: -45%;
    }
    to {
        left: -50%;
    }
}

@keyframes slideInFromLeft {
    from {
        left: 150%;
    }
    to {
        left: -45%;
    }
}

@keyframes slideInFromRight {
    from {
        left: -150%;
    }
    to {
        left: -45%;
    }
}