.hero {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
}

.heroImage {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: auto;

    @media screen and (min-width: 1200px)  {
        height: auto;
        width: 100vw;
    }
}
