.hero {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    width: 100vw;
}

.heroImage {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: auto;

    @media screen and (min-width: 1155px) {
        height: auto;
        width: 100%;
    }
}