@import "../../animations.scss";

.hero {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.heroImage {
    animation: parallax ease;
    animation-timeline: scroll();
    height: calc(100vh + 281px);
    left: 0;
    position: absolute;
    top: 0;
    width: auto;

    &.fixed {
        animation: none;
        position: fixed;
        top: -22vh;
    }

    @media screen and (max-width: 1200px)  {
        height: calc(100vh + 256px);
    }

    @media screen and (max-width: 680px)  {
        height: calc(100vh + 230px);
    }
}
