#intro {
    bottom: 0;
    padding: 64px 64px 64px 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 1;

    @media screen and (max-width: 680px) {
        padding: 24px;
    }

    &.fixed {
        bottom: calc(100vh - 281px);
        position: fixed;

        @media screen and (max-width: 1200px) {
            bottom: calc(100vh - 256px);
        }

        @media screen and (max-width: 680px) {
            bottom: calc(100vh - 150px);
        }

        @media screen and (max-width: 520px) {
            bottom: calc(100vh - 125px);
        }
    }

    h2 {
        color: #ffffff;
        font-size: 2.15em;

        @media screen and (max-width: 1200px) {
            font-size: 1.8em;
        }

        @media screen and (max-width: 680px) {
            font-size: 1.45em;
        }

        @media screen and (max-width: 520px) {
            font-size: 1.1em;
        }
    }
}
