.skillCard {
    display: inline-flex;

    .creative {
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        padding-right: 24px;
        width: 50%;
    }

    .technical {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
        width: 50%;
    }
}
