@import "../../../animations.scss";

.externalCard {
    animation: none;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background: radial-gradient(farthest-corner at 0 0, rgba(255, 255, 255, 0.3), rgba(200, 200, 200, 0.2));
    border: none;
    border-radius: 16px;
    box-shadow: none;
    margin: 12px;
    position: relative;
    text-align: center;
    text-decoration: none;

    @media screen and (max-width: 1200px) {
        border-radius: 8px;
    }

    @media screen and (max-width: 820px) {
        margin: 0;
    }

    * {
        pointer-events: none;
    }

    h3 {
        text-align: left;
    }

    .externalImage {
        margin: 24px auto 0 auto;
        opacity: 0.8;
        position: relative;
        width: 25%;

        @media screen and (max-width: 620px) {
            margin: 12px auto 0 auto;
            width: 40%;
        }
    }

    .arrow {
        animation: slideRight 0.3s ease forwards;
    }

    &:hover .arrow {
        animation: slideLeft 0.3s ease forwards;
    }
}
