@import "../../../animations.scss";

.externalCard {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: none;
    margin: 12px;
    text-align: center;
    text-decoration: none;

    * {
        pointer-events: none;
    }

    h3 {
        text-align: left;
    }

    .externalImage {
        margin: 24px auto 0 auto;
        opacity: 0.8;
        position: relative;
        width: 25%;
    }

    &:hover .arrow {
        animation: slide 0.3s ease forwards;
    }
}