* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h2,
h3,
p {
  color: rgba(0, 0, 0, 1);
}

h1 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 6em;
  font-weight: 400;
  letter-spacing: -3px;
}

h2 {
  font-size: 42px;
  font-weight: 500;
  letter-spacing: -1px;
}

h3 {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -1px;
}

p {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 30px;
}

a {
  color: inherit;
}

a:hover {
  color: #6f6af8;
}

span {
  color: rgba(255, 255, 255, 0.9);
}

b {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
}

.feed {
  position: relative;
  width: 100vw;
  z-index: 2;
}

/* HEADER SPECIFIC STYLING */
.gradient {
  background: radial-gradient(farthest-corner at 100% 100%, rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.2));
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.spacerOne {
  height: calc(100vh - 281px);
  width: 100vw;
}

.spacerTwo {
  height: 110vh;
  width: 100vw;
}

/* GLOBAL CLASSES */
.dark {
  color: rgba(0, 0, 0, 0.8);
}

.centeredText {
  text-align: center;
}

.rightText {
  text-align: right;
}

.marginBottom_xsm {
  margin-bottom: 12px;
}

.marginBottom_sm {
  margin-bottom: 24px;
}

.marginBottom_med {
  margin-bottom: 48px;
}

.marginBottom_lrg {
  margin-bottom: 96px;
}

.marginTop_xsm {
  margin-top: 12px;
}

.marginTop_sm {
  margin-top: 24px;
}

.marginTop_med {
  margin-top: 48px;
}

.marginTop_lrg {
  margin-top: 96px;
}

.fullWidth {
  width: 100%;
}

.relativeleyCentered {
  position: relative;
  margin: auto;
}

.absolutelyCentered {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.card {
  -webkit-backdrop-filter: blur(8px) saturate(3);
  backdrop-filter: blur(8px) saturate(3);
  background: radial-gradient(farthest-corner at 0 0, rgba(255, 255, 255, 0.6), rgba(200, 200, 200, 0.4));
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 24px;
  box-shadow: 12px 12px 48px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  padding: 42px 48px 48px 48px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.buttonContainer a {
  text-decoration: none;
}

.button {
  align-items: center;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(254, 254, 254, 0.2));
  -webkit-backdrop-filter: blur(8px) saturate(1);
  backdrop-filter: blur(8px) saturate(1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  display: flex;
  font-size: 24px;
  font-weight: 600;
  width: 500px;
  padding: 12px 48px;
  justify-content: space-between;

  svg path {
    stroke: rgba(0, 0, 0, 0.8);
  }
}

.squaresGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  grid-auto-rows: 1fr;
}

.squaresGrid::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.arrow {
  bottom: 18px;
  display: block;
  position: absolute;
  right: 24px;
}

/* GROUP DECLARATIONS */
#projectsSection {
  width: calc(100vw - 96px);
}

#projectsSection .squaresGrid {
  margin-left: -24px;
  width: calc(100% + 48px);
}

#projects,
#experience,
#skills,
#about {
  height: 48px;
}
