.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  min-height: 100vh;
  width: 100vw;
}

.overlay {
  -webkit-backdrop-filter: blur(16px) saturate(0.3);
    backdrop-filter: blur(16px) saturate(0.3);
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 4;
}

.section {
  display: inline-block;
  margin: 0 48px;
  max-width: 1440px;
  position: relative;
  z-index: 3;

  @media screen and (max-width: 680px) {
    margin: 0 24px;
  }
}
