.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  max-width: 1440px;
  min-height: 100vh;
  padding: 48px 48px 0 48px;
  width: 100vw;
}

.squaresGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  grid-auto-rows: 1fr;
  width: calc(100% + 48px);
}

.squaresGrid::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.squaresGrid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.projectsContainer,
.experienceContainer,
.skillContainer,
.aboutContainer {
  display: inline-block;
  width: 100%;
}
