@import "../../animations.scss";

.button {
    animation: sink 0.3s ease forwards;

    svg path {
        animation: deColorIt 0.3s ease forwards;
    }

    &:hover {
        animation: elevate 0.3s ease forwards;

        svg path {
            animation: colorIt 0.3s ease forwards;
        }
    }
}
