.button {
    align-items: center;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(254, 254, 254, 0.2));
    -webkit-backdrop-filter: blur(8px) saturate(1);
    backdrop-filter: blur(8px) saturate(1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 24px;
    display: flex;
    font-size: 24px;
    font-weight: 600;
    width: 500px;
    padding: 12px 48px;
    justify-content: space-between;

    svg path {
        stroke: rgba(0, 0, 0, 0.8);
    }

    &:hover {
        animation: elevate 0.2s ease forwards;

        svg path {
            animation: colorIt 0.2s ease forwards;
        }
    }
}

@keyframes elevate {
    0% {
        -webkit-backdrop-filter: blur(8px) saturate(1);
        backdrop-filter: blur(8px) saturate(1);
        background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(254, 254, 254, 0.2));
        color: rgba(0, 0, 0, 0.8);
    }
    100% {
        -webkit-backdrop-filter: blur(12px) saturate(5);
        backdrop-filter: blur(24px) saturate(5);
        background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5), rgba(254, 254, 254, 0.5));
        color: #6f6af8;
    }
}

@keyframes colorIt {
    0% {
        stroke: rgba(0, 0, 0, 0.8);
    }
    100% {
        stroke: #6f6af8;
    }
}
