@import "../../animations.scss";

.button {
    animation: sink 0.3s ease forwards;

    svg path {
        animation: deColorIt 0.3s ease forwards;
    }

    &:hover {
        animation: elevate 0.3s ease forwards;

        svg path {
            animation: colorIt 0.3s ease forwards;
        }
    }

    svg {
        height: 48px;
        stroke-width: 4px;
        width: 48px; 
    }

    @media screen and (max-width: 680px) {
        font-size: 18px;
        padding: 8px 12px;

        svg {
            height: 32px;
            stroke-width: 2px;
            width: 32px; 
        }
    }

    @media screen and (max-width: 385px) {
        font-size: 16px;
    }
}
