.button {
    animation: sink 0.3s ease forwards;

    svg path {
        animation: deColorIt 0.3s ease forwards;
    }

    &:hover {
        animation: elevate 0.3s ease forwards;

        svg path {
            animation: colorIt 0.3s ease forwards;
        }
    }

    svg {
        height: 48px;
        stroke-width: 4px;
        width: 48px;
    }

    @media screen and (max-width: 680px) {
        font-size: 18px;
        padding: 8px 12px;

        svg {
            height: 32px;
            stroke-width: 2px;
            width: 32px;
        }
    }

    @media screen and (max-width: 385px) {
        font-size: 16px;
    }
}

.miniButton .button {
    animation: miniSink 0.3s ease forwards;
    border: none;
    justify-content: center;
    min-width: 215px;
    padding: 8px 12px;

    &:hover {
        animation: miniElevate 0.3s ease forwards;
    }

    @media screen and (max-width: 765px) {
        font-size: 18px;
        min-width: 152px;
        padding: 8px 12px;
    }

    @media screen and (max-width: 580px) {
        min-width: 0;
    }

    @media screen and (max-width: 385px) {
        font-size: 16px;
    }
}