.auroraBackground {
    background: linear-gradient(to bottom right, #6f6af8, #ff57c6);
    position: relative;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    z-index: 2;

    &.fixed {
        position: fixed;
    }

    &::after {
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        content: "";
        display: block;
        height: 100vh;
        position: absolute;
        width: 100vw;
    }

    .blueOrb {
        background: radial-gradient(farthest-corner at 100% 100%, #413e92, #817cff);
        bottom: 40vh;
        border-radius: 50%;
        height: 80vw;
        left: 50vw;
        position: absolute;
        width: 80vw;
    }

    .pinkOrb {
        background: radial-gradient(farthest-corner at 100% 100%, #923e76, #f86ac8);
        border-radius: 50%;
        height: 80vw;
        position: absolute;
        right: 50vw;
        top: 40vh;
        width: 80vw;
    }
}
