.projectDetail {
    -webkit-backdrop-filter: blur(16px) saturate(0.3);
    backdrop-filter: blur(16px) saturate(0.3);
    border-radius: 0;
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    width: 60vw;
    z-index: 4;

    .detailImage {
        margin: -42px -48px 32px -48px;
        width: calc(100% + 96px);
    }

    .detailWords {
        position: relative;
    }

    .arrow {
        position: absolute;
        right: -12px;
        top: 0;
        transform: scaleX(-1);
    }
}
