.statsContainer {
    width: 50%;

    @media screen and (max-width: 450px) {
        margin-top: 24px;
    }

    .statsCard {
        width: 100%;

        h1 {
            color: rgba(0, 0, 0, 0.9);
            text-align: center;
        }

        .statsCardSubtitle {
            text-align: right;
        }

        @media screen and (max-width: 450px) {
            width: 50%;
        }
    }
}