.container {
    margin: 24px;

    &:first-child {
        .centerImage {
            height: auto;
            top: 15%;
            width: 40%;
        }

        &:hover > .projectCard .centerImage {
            animation: expandSmall 0.2s ease forwards;
        }
    }

    &:hover > .projectCard {
        animation: shrink 0.2s ease forwards;

        .centerImage {
            animation: expand 0.2s ease forwards;
        }
    }
}

.projectCard {
    color: #000000;
    cursor: pointer;
    height: 100%;
    width: 100%;

    span {
        color: #000000;
    }

    .centerImage {
        display: block;
        margin: auto;
        position: relative;
        height: auto;
        top: 15%;
        width: 60%;
    }
}

@keyframes shrink {
    0% {
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        box-shadow: 12px 12px 48px rgba(0, 0, 0, 0.2);
        height: 100%;
        margin: 0;
        width: 100%;
    }
    100% {
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);
        box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
        height: 95%;
        margin: 2.5% 0 0 2.5%;
        width: 95%;
    }
}

@keyframes expand {
    0% {
        height: auto;
        top: 15%;
        width: 60%;
    }
    100% {
        height: auto;
        top: 5%;
        width: 75%;
    }
}

@keyframes expandSmall {
    0% {
        height: auto;
        top: 15%;
        width: 40%;
    }
    100% {
        height: auto;
        top: 5%;
        width: 50%;
    }
}
